.well {
  min-height: 4.5em;
  width: 60%;
  margin: 2rem auto;
  text-align: center;
  padding: 3rem;
}

body {
  background-image: url(../img/greece.jpeg);
  background-size: cover;
}

.container {
  background-color: rgba(153,204,255, 0.9);
  padding: 3rem;
  margin-top: 5rem;
  border: solid 2px 	#bbeeff;
  border-radius: 10px;
}

.display {
  padding: 5px;
  background-color: #bbeeff;
  border: solid 1px #5588ff;
  width: 40px;
  border-radius: 2px;
  margin: 2px;
  display: inline-block;
}
