.well {
  min-height: 4.5em;
  width: 60%;
  margin: 2rem auto;
}

body {
  background-image: url(../img/greece.jpeg);
  background-size: cover;
}

.container {
  background-color: #99ccff;
  padding: 3rem;
  margin-top: 5rem;
  border: solid 2px 	#bbeeff;
  border-radius: 10px;
}
